#itemback {
    background-color: darkcyan;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
    }
#cuerpo {
        background-image: url("https://subefotos.com/ver/?3c24e49de6d6734f4647f5ef099ee358o.jpg");
        
       
       }