<div id="cuerpo">
<div class="container mt-5" >
    <div class="row">
        


        <div class="col-8">
            <div class="row">

                <div *ngFor="let cotiza of Cotizaciones" class="col-6">
                    <div class="card mt-5 nb-3">
                        <img class="card-img-top" src="https://thumbs.subefotos.com/42690f4d4ea7ef8ece45995fb71b3fa9o.jpg" alt="Card image cap" class="img-circle" width="100px">
                        <div class="card-body bg-dark text-light">
                          
                          <p>Comentario</p>
                          <p class="card-text">{{cotiza.comentario}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" id="itemback">Precio</li>
                          <li class="list-group-item">{{cotiza.precio}}</li>
                          <li class="list-group-item " id="itemback">Estado de la oferta</li>
                          <li class="list-group-item">{{cotiza.estado}}</li>
                          <li class="list-group-item " id="itemback">Fecha publicación</li>
                          <li class="list-group-item">{{cotiza.fecha}}</li>
                          
                        </ul>
                        <div class="card-body">
                          <button type="button" (click)="modificarEstado(1,cotiza.id)" class="btn btn-success">Aceptar</button>
                          <button type="button" (click)="modificarEstado(2,cotiza.id)" class="btn btn-danger">rechazar</button>
                          <button type="button" (click)="modificarEstado(3,cotiza.id)" class="btn btn btn-secondary">Contra ofertar</button>
                      

                        </div>
                      </div>
    
                </div>
               


            </div>
        </div>
    </div>
</div>

</div>