<div class="container">
  <div class="row">
    
    <div class="col-sm">
      <br><br>
      <h2 class="login-header">Registrar Cotizacion</h2>

      <form #frmRegistrar="ngForm" class="login-container" (ngSubmit)="onRegistrar(frmRegistrar)">
        <p><input type="number" class="precio" name="precio" placeholder="Precio" [(ngModel)]="user.precio" autofocus>
        </p>
        <p><input type="date" class="fecha" name="fecha" placeholder="Fecha" [(ngModel)]="user.Fecha" autofocus>
        </p>
        <p><textarea type="textarea" class="comentario" name="comentario" placeholder="Comentario"
            [(ngModel)]="user.comentario"></textarea></p>

        <p><input type="submit" value="Enviar"></p>

      </form>
    </div>
    <div class="col-sm">
      <br><br>
      <div class="card-header text-white bg-dark d-flex justify-content-between align-items-center">
        <a style="color:white;">{{solicitud.titulo}}</a>
      </div>
      <div>
        <p>
          Descripción: {{solicitud.descripcion}}
        </p>
        <hr>
        <p>
          Dirección del Servicio: {{solicitud.direccion_servicio}}
        </p>
        <p>
          Fecha: {{solicitud.fecha}}
        </p>
      </div>
      <div>
        <img class="card-img-top" src="{{ solicitud.imagenes[0]?.name||'../../../../assets/imagen2.png'}}" width="50"
          height="150">
      </div>
      <hr>
      <hr>
      <br>
    </div>
  </div>
</div>