<div class="container p-5">
  <div class="col-md-10">
    <div class="d-flex justify-content-between align-items-center">
      <input type="search" name="txtBuscar" class="form-control" [(ngModel)]="texto"
        placeholder="Buscar servicios">
      <button class="btn">
        <i class="fas fa-search" (click)="buscar(texto)"></i>
      </button>
    </div>
    <hr>
    <br>
  </div>


  <div class="row">
    <div class="col-md-4 p-4" *ngFor="let servicio of servicios">
      <div class="card-header text-white bg-dark d-flex justify-content-between align-items-center">
        <a style="color:white;" routerLink="/enviar-cotizacion/{{servicio.id}}">{{servicio.titulo}}</a>
      </div>
      <div>
        <p>
          Descripción: {{servicio.descripcion}}
        </p>
        <hr>
        <p>
          Dirección del Servicio: {{servicio.direccion_servicio}}
        </p>
        <p>
          Fecha: {{servicio.fecha}}
        </p>
      </div>
      <div>
        <img class="card-img-top" src="{{ servicio.imagenes[0]?.name||'../../../../assets/imagen2.png'}}" width="50" height="150">
      </div>
      <hr>
      <hr>
      <br>
    </div>
  </div>

</div>