
body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}

.container{
    background-image: url("https://previews.123rf.com/images/mooltfilm/mooltfilm1602/mooltfilm160200025/51650437-vector-plana-resumen-mapa-de-la-ciudad-con-los-punteros-de-pasador-ruta-de-navegaci%C3%B3n-y-los-iconos-de-i.jpg");
}