<!--<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Strapi blog</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul *ngIf="data" class="uk-navbar-nav">
      <li *ngFor="let category of data.categories" class="uk-active">
        <a
          routerLink="/category/{{ category.id }}"
          routerLinkActive="active"
          class="uk-link-reset"
        >
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-dark text-ligth">
  <a class="navbar-brand text-white" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="http://localhost:4200/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/listado-proveedor">Listado Servicios</a>
      </li>
    </ul>
   <ul class="navbar-nav mr-2">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Servicio al cliente
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-dark" href="http://localhost:4200/solicitar-auida">Solicitar ayuda</a>
        <a class="dropdown-item text-dark" href="#">About Us</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-dark" href="#">algo mas</a>
      </div>
    </li>
  </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary mr-2" *ngIf="usuario.jwt" (click)="open(mymodal)">Solicitar Servicio</button>
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" ><a href="http://localhost:4200/login">Login</a></button>
    </form>
  </div>
</nav>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Solicitar Servicio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <div class="form-label-group">
          <label for="inputNombre">Categoría</label>
        </div> 
        <ng-multiselect-dropdown
          [placeholder]="'Categorías'"
          [data]="dropdownList"
          [(ngModel)]="solicitud.categorias"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <label for="inputNombre">Titulo</label>
        </div> 
        <input type="text" [(ngModel)]="solicitud.titulo" id="titulo" class="form-control" placeholder="Instalación Electrica" required autofocus />          
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <label for="inputApellido">Descripción</label>
        </div>
        <textarea id="descripcion" [(ngModel)]="solicitud.descripcion" class="form-control" placeholder="Descripción" required autofocus rows="4"></textarea>        
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <label for="inputApellido">Dirección</label>
        </div>
        <input type="text" id="direccion" [(ngModel)]="solicitud.direccion_servicio" class="form-control" placeholder="8 ave. C 13-78" required autofocus />
      </div>
      <!-- <div class="form-group">
        <div class="form-label-group">
          <label for="inputTelefono">Presupuesto (GTQ)</label>
        </div>
        <div class="row">
          <div class="col">
            <input type="number" class="form-control" placeholder="Mínimo">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Máximo">
          </div>
        </div>
      </div>      -->
      <!-- <div class="form-group">
        <div class="form-label-group">
          <label for="inputTelefono">Imágenes o documentos</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required multiple>
          <label class="custom-file-label" for="validatedCustomFile">Elegir archivo(s)...</label>
          <div class="invalid-feedback">Archivo invalido</div>
        </div>
      </div>      -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancelar</button>
    <button class="btn btn-primary" (click)="modal.close('Save click')">Solicitar</button>
  </div>
</ng-template>